*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tudo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-size: 100% 100% ;
}
/* logo  */
.logo{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 90%;
    height: 90%;
}

/* imputs e taus */
.infor{
    width: 75%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
}
.inbox{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding-left: 10px;
    background-color: #d8d8d8;
    border: none;
}
.esqueci{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
}
.esqueci a{
    margin-right: 10px;
    text-decoration: none;
    color: #1c5f08;
}

/* entrada e nova conta */
.Nconta{
    width: auto;
    height: auto;
    display: flex;
    gap: 6px;
    font-size: 13px;
    padding-right: 10px;
}
.Nconta a{
    text-decoration: none;
    color: #1c5f08;
    background-color: white;
}
.entrada-saida{
     width: 200px;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: end;
}
.entra{
    width: 200px;
    height: 40px;
    background-color: #468035;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: larger;
}
/* esqueceu a senha */
.container {
   width: 75%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.code-input {
  width: 50px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #d8d8d8;
}

.code-input:focus {
  border: 2px solid #38bdf8;
}